requests[socks]>=2.21.0                # Python HTTP for humans with proxy support
flake8==7.2.0                   # PEP checking
flake8-pyproject==1.2.3         # PEP 621 support 
wheel>=0.34.2                   # Building package
invoke>=1.4.0
coverage>=6.4.1                 # Run tests, measure coverage
coveralls>=3.3.1
Pillow>=9.1.1
